
body {
  background-size: contain;
  background-image:
  url("");
  background-color: #515561;
  font-family: league gothic;
  font-style: italic;
  color: #cabbaf;
}

header {
  white-space: nowrap;
  text-align: center;
  font-size: 12rem;
  color: #cea888;
}

a {
  color: #cabbaf;
}

/* info */

.info {
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
  margin-top: 0px;

}

.CASUAL {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.CASUAL img {
  width: 85%;
  height: auto;
}


/* contact */

.LINKS {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  padding-top: 2rem;

}

.SOCIAL {
  display: flex;
  flex-direction: column;
}

.PROJECTS {
  display: flex;
  flex-direction: column;
}

.CONTACT {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  color: #cea888;
}



@media only screen and (max-width: 375px) {
  .img-container img {
    width: 75%;
  }
}
