
body {
  background-size: contain;
  background-image:
  url("");
  background-color: #515561;
  font-family: Futura;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 5rem;
}

.info {
  display: flex;
  justify-content: space-around;
  font-style: italic;
  align-content: space-between;
  font-size: 2rem;
  padding-top: 1rem;
}

.contact {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.action {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;

}

/* action */

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  font-weight: bold;
}

.img-container img {
  width: 30%
}
