body {
  text-align: center;
  background-size: contain;
  background-image:
  url("");
}

h1 {
  font-family: Futura;
}

h2 {
  font-family: Futura;
  font-size: 16px;
}

p {
  font-family: Helvetica;
}

span {
  font-size: 16px;
}

.goals {
  font-size: 12px;
}

.intro {
  font-size: 16px;
}
